# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
data/mongodb_data
node_modules

# testing
coverage

# production
build

# misc
.catapult.json
.DS_Store
.env
npm-debug.log
